/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */
@import './font/herculanum.ttf';

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background-color: #ffffff;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

/* nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
} */

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
#search {
  font-family: 'Herculanum' !important;
}

.font {
  font-family: 'Herculanum' !important;
}

a {
  text-decoration: none;
}

.singleImg {
  width: 100%;
  height: 35em;
  padding: 5px;
  padding-bottom: 0px;
}

.singleStudentImg {
  width: 100%;
  height: 25em;
  padding: 5px;
  padding-bottom: 0px;
}

img.img-thumbnail {
  width: 100%;
  height: 16em;
  padding: 10px;
}

img.img-thumbnail.student {
  height: 9em;
  width: 9em;
}

img.bendingSymbol {
  height: 2em;
  width: 2em;
}

/* Navbar */
/* select.custom-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: 'Herculanum' !important;
} */

.icon {
  width: 5em;
  height: 3em;
}

/* .corouselDiv {
  position: absolute;
  width: 100vw;
  left: calc(-50vw + 50%);
} */

/* .studentCard {
  min-height: 5em;
} */
